langchain               # Core library for building LLM-powered applications
wikipedia               # Enables searching and summarizing content from Wikipedia
langchain-community     # Community-contributed tools and integrations for LangChain
langchain-openai        # OpenAI integration for GPT models in LangChain
langchain-anthropic     # Anthropic Claude integration for LangChain
python-dotenv           # Load environment variables from a .env file
pydantic                # Data validation and type enforcement, used with LangChain

# These are the packages that you need to instal in python env.

# Without virtual environment
# AI Agent> pip install -r .\requirements.txt

# To install globally
# AI Agent> pip3 install -r .\requirements.txt

# Create a virtual environment
# AI Agent> python -m venv venv 
# AI Agent> .\venv\Scripts\activate
# AI Agent> pip install -r .\requirements.txt
